<<<<<<< HEAD
/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Top bar styles */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #090808;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 3px solid #ffffff; /* Bottom border */
}

.btn{
  width:150px;
  margin-right: 10px;
}
/* Logo styles */
.logo1 {
  display: inline-block;
}

.logo1 img {
  height: 80px; /* Adjust as needed */
  animation: shineEffect 3s infinite;
}

@keyframes shineEffect {
  0% {
    filter: brightness(1);
    transform: scale(1);
  }
  50% {
    filter: brightness(1.5);
    transform: scale(1.1);
  }
  100% {
    filter: brightness(1);
    transform: scale(1);
  }
}

.navigation a {
  color: #fff;
  text-decoration: none;
  margin: 0 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navigation a:hover {
  text-decoration: underline;
}

.background-image-container {
  position: relative;
  width: 99vw; /* Full viewport width */
  height: calc(100vh - 70px); /* Full viewport height minus the top bar height */
  background-size: contain; /* Ensure the entire image is visible */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* No repeat */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px; /* Adjust to match the height of the top bar */
  animation: changeBg 18s infinite; /* Adjust animation duration as needed */
}

.background-text {
  position: absolute;
  bottom: 400px; /* Adjust the distance from the bottom */
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: rgb(249, 246, 246);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 10px 0; /* Add some padding */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Add a dark shadow */
}


.background-text-item {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.background-text-content {
  margin: 0;
  color: white;
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold;
  line-height: 1.2;
}

@keyframes changeBg {
  0% { background-image: url('./images/front1.png'); }
  33% { background-image: url('./images/front2.png'); }
  66% { background-image: url('./images/front3.png'); }
  100% { background-image: url('./images/front1.png'); } /* Loop back to the first image */
}

@media (max-width: 768px) {
  .background-image-container {
    height: 400px; /* Adjust height for smaller screens */
  }
}


/* Search area styles */
.search-area {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 350px;
  margin-left: 30px;
}

.search-fields {
  display: flex;
  flex-direction: row;
  gap: 50px; /* Increase the gap to add more space between the fields */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  align-items: flex-start; /* Align items to the start of the container */
  
}

.search-field {
  display: flex;
  flex-direction: column-reverse; /* Put the label below the input */
  align-items: center; /* Center align items horizontally */
  color: black;
  
}

.search-field label {
  color: #fff;
  margin-top: 8px; /* Space between input and label */
}

.search-fields input,
.search-fields select {
  padding: 5px;
  font-size: 16px;
  width: 200px;
}

.search-fields button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #450454;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 100px;
  margin-top: 30px; /* Push the button to the bottom */
}

.search-fields button:hover {
  background-color: #555;
}

/* About section styles */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items horizontally */
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 50px; /* Add space for the fixed top bar */
}

.about-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%; /* Ensure the content takes full width */
  max-width: 1200px; /* Limit the max width for readability */
  margin-bottom: 20px; /* Space between content and new text */
}

.about-content {
  flex: 1;
  color: black;
  margin-right: 50px; /* Space between text and image */
  margin-top: 10px;
}

.about-section h2 {
  margin-top: 50;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: black;
}

.about-section img {
  max-width: 50%;
  border-radius: 10px;
}

.new-textbox {
  max-width: 800px;
  text-align: center;
  color: rgb(50, 4, 100);
  font-size: 18px;
  line-height: 1.6;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden; /* Ensure the highlight doesn't overflow */
  font-weight: bold;
}

.new-textbox::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgb(108, 107, 109), transparent);
  animation: highlight 5s infinite;
}

@keyframes highlight {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.author{
  flex: 1;
  color: black;
}

/* Features section styles */
.features {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #230529;
  color: rgb(255, 255, 255);
  text-align: center;
}
.features h2 {
  margin-top: 150px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: rgb(246, 245, 245);
  text-align: center;
}
.feature-box {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  animation: shine 3s infinite; /* Apply the shine animation */
  border: 2px solid black;
}

.feature-image {
  max-width: 100%;
  height: 200px;
  margin-bottom: 15px; /* Space between image and header */
}

.feature-content h3 {
  margin: 0;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.feature-content p {
  margin-top: 10px;
  color: black;
}

/* Shining animation effect */
@keyframes shine {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    transform: scale(1.05);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    transform: scale(1);
  }
}

/* Add the shine class to each feature box */
.feature-box.shine {
  animation: shine 3s infinite;
}

.rental-fleets {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  color: black;
  position: relative; /* Ensure the section is relative for absolute positioning */
}

.rental-fleets h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: black;
}

.fleet-carousel {
  display: flex;
  overflow: hidden;
  position: relative;
}

.fleet {
  flex: 0 0 200px; /* Each fleet item width */
  margin: 0 20px; /* Increased margin to 20px on the left and right */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(113, 112, 112);
  height: 250px;
  width: 250px;
  text-align: center;
  margin-left: 25px;
}

.fleet img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: black;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.contact-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 50px;
}

.contact-info {
  flex: 1;
  padding: 20px;
  text-align: left;
  color: black;
}

.contact-info h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 650px;
}

.contact-info p1 {
  margin: 10px 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}

.contact-info p {
  margin: 10px 0;
  opacity: 0; /* Initially hide the paragraphs */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
  font-weight: bold;
}

.animate-drop {
  animation: slideAnimation 6s linear infinite; /* Adjust animation duration and timing */
}

@keyframes slideAnimation {
  0%, 100% {
    transform: translateX(-100%); /* Start off the left edge */
    opacity: 0;
  }
  10%, 90% {
    transform: translateX(0); /* Slide to the normal position */
    opacity: 1;
  }
  100% {
    transform: translateX(100%); /* Move off to the right edge */
    opacity: 0;
  }
}
.contact-image {
  flex: 1;
  text-align: center;
  margin-bottom: -50px;
}

.contact-image img {
  max-width: 100%;
  height: auto;
}

/* Reviews section styles */
.reviews {
  padding: 20px;
  background-color: #6d696d;
  text-align: center;
  color: black;
}
.reviews h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 80px;
  color: black;
}
.review-box {
  display: inline-block;
  width: 250px; /* Adjust the width as needed */
  margin: 10px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review {
  margin-bottom: 10px;
}

.review p {
  margin: 0;
  font-style: italic;
}

.review-name {
  margin-top: 5px;
  font-weight: bold;
}

/* Footer styles */
footer {
  padding: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
}
=======
.Home-header {
   position: relative;
   min-block-size: 100vh;
   display: grid;
   grid-template-rows: min-content;
   align-items: center;
   justify-content: center;
   animation: slideshow 20s infinite; /* Change 20s to adjust slideshow speed */
 }
 
 @keyframes slideshow {
   0% { background-image: url('images/img1.png'); }
   25% { background-image: url('images/img2.jpg'); }
   50% { background-image: url('images/img3.jpg'); }
   75% { background-image: url('images/img4.jpg'); }
   75% { background-image: url('images/img5.jpg'); }
   100% { background-image: url('images/img1.png'); }
 }
 

 .App_logo {
   position: absolute;  
   inset-block-start: 35%;  
   inset-inline-start: 50%; 
   transform: translate(-50%, -50%);  
   inline-size: 100%;  
   max-inline-size: 900px;  
   block-size: 300px;
   background: url('images/logo_white_1.png') center/cover no-repeat;
 }

.btn-login{
   margin-block-start: 123%;
   max-block-size: 10px;
}

.Learn-more{
   font-size: 25px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   margin-inline-end: 100px;
   inline-size:180px;
   background-color: rgb(20, 20, 78);
   opacity: 0.7;
   color: white;
   cursor: pointer;
   margin-inline-end: 4vw; 
   max-inline-size: 200px;
}

.Get-Started {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  inline-size: 180px;
  background-color: rgb(93, 12, 12);
  opacity: 0.7;
  color: white;
  cursor: pointer;
  margin-inline-start: 250px;
  max-inline-size: 180px;
  margin-left: 50px;
}
>>>>>>> 2ff9e0e10789f96ccef38f52163fdc9e03b82908
