.footer {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .services-bar, .find-out {
    text-align: center;

  }
  
  .services-bar, .find-out hr {
    width: 50%;
    margin: 10px auto;
  }
  
  .services {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
  }
  
  .service {
    text-align: center;
    margin: 20px;
  }
  
  .service h3 {
    margin-top: 10px;
  }
  
  .contact-bar {
    text-align: center;
    margin-top: 20px;
  }
  
  .contact-bar p {
    margin-bottom: 10px;
  }
  
  .contact-btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .contact-btn img {
    width: 20px;
    height: 20px;
  }
  